@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Header/Navbar */
  .header {
    @apply sticky bg-white dark:bg-stone-800 border-b dark:border-gray-700 shadow-lg z-50
  }
  .nav {
    @apply flex justify-between items-end py-3 mx-4 
    sm:mx-8 md:mx-12 lg:mx-16 xl:mx-auto max-w-7xl
  }
  .navLogo {
    @apply text-4xl font-deca font-bold  transition-colors transform duration-150 
    bg-gradient-to-r from-blue-800 to-blue-500 text-transparent bg-clip-text
    active:brightness-125 hover:text-blue-600 dark:text-gray-300 dark:active:text-blue-800 
    dark:hover:text-blue-600
  }
  .navLogoActive {
    @apply bg-gradient-to-r from-blue-800 to-blue-500 text-transparent bg-clip-text
  }
  .navLink {
    @apply text-gray-500 font-semibold transition-colors transform duration-150 active:brightness-110
  hover:text-blue-500 font-fancy text-lg dark:text-gray-300 dark:active:text-blue-800 dark:hover:text-blue-500
  }
  .navIcon {
    @apply h-5 mt-1 navBtn md:hidden cursor-pointer
  }
  .navSunIcon {
    @apply transition-colors transform duration-150  h-5 cursor-pointer
    dark:text-gray-300 dark:active:brightness-110 dark:hover:text-yellow-300
  }
  .navMoonIcon {
    @apply transition-colors transform duration-150 h-5 cursor-pointer 
    text-gray-500 active:brightness-110 hover:text-blue-500
  }
  .navBtn {
    @apply from-blue-600 to-blue-900 bg-gradient-to-tl md:hover:scale-105 
    transition-all transform duration-150 ease-out hover:brightness-110 ml-3 md:ml-5 p-2 absolute md:relative right-0 md:top-0 top-[72px] rounded-bl-xl md:rounded-xl cursor-pointer shadow-xl
  }

  /* Dropdown */
  .menuItems {
    @apply absolute -right-4 sm:-right-8 w-screen h-[450px]  origin-top-right shadow-xl rounded-b-md
    focus:ring-0 outline-none border-none text-gray-500 bg-white mt-3 flex flex-col items-center 
    justify-evenly dark:bg-stone-800 dark:text-gray-300
  }
  .dropdownIcon {
    @apply w-10 hover:text-blue-600 dark:hover:brightness-125 transition-colors transform duration-150
  }
  .dropdownLinks {
    @apply text-blue-500 transition-colors transform duration-150
  }
}
